@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS RESET */
.App {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3em;
  }
  
*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    list-style-type: none;
}

/* DESKTOP FIRST */
h1 {
    font-size: 3.2em;
    letter-spacing: 0.5em;
    line-height: 1.5em;
    padding-bottom: 0.7em;
    text-transform: uppercase;
    max-width: 600px;
}

h3 {
    font-weight: normal;
}

.header-container {
    display: inline-grid;
    margin: 3em 1em 0em 1em;
    padding: 3em 3em 3em 3em;
    background: rgb(255, 255, 255, 0.6);
    max-width: 2000px;
}

.author-container  {
    display: inline-grid;
    justify-content: space-around;
    align-content: start;
    grid-template-columns: 15em 15em 15em;
    margin: 3em 0em 0em 0em;
    padding: 1em 3em 2em 3em;
    max-width: 800px;
    max-height: 600px;
    overflow: scroll;
    background-color: rgb(0, 0, 0, 0.7);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255, 0.8);
    /* background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 30px rgb(0, 0, 0, 0.4); */
}

.author-child {
    margin: 0.5em 0em 2em 0em;
    padding: 1em 0em 0em 0em;
    align-content: start;
    display: inline-grid;
    /* box-shadow: 1px 1px 9px rgb(216, 216, 216); */
}

.author-child__child {
    justify-self: center;
}

.author-name {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0em;
    padding: 0.5em;
    margin: 0em;
    text-transform: uppercase;
}

.author-img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-align: center;
}

.author-img:hover {
    filter: grayscale(100%);
    transition: 1s;
}

.author-link {
    font-size: 0.9em;
    font-weight: lighter;
    padding: 0.5em;
    margin: 0.5em;
}

.author-description {
    display: inline-flex;
    font-size: 0.7em;
    max-width: 200px;
    text-align: justify;
}

p {
    font-size: 1em;
    max-height: 5em;
    overflow-y: scroll;
    overflow-x: wrap;
    overflow-wrap: break-word;
}

.about-container {
    display: inline-grid;
    margin: 3em 1em 0em 1em;
    padding: 3em 3em 3em 3em;
    background: rgb(255, 255, 255, 0.6);
    max-width: 700px;
}

.about-description {
    color: white;
}

/* VIDEO BACKGROUND */
  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      background-size: cover;
      transition: 1s opacity;
  }
  .stopfade { 
     opacity: .5;
  }
  
  a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background:rgba(0,0,0,0.5);
    padding: .5rem;
    transition: .6s background; 
  }
  a:hover{
    background:rgba(0,0,0,0.9);
  }


  @media screen and (max-width: 500px) { 
    div{width:70%;} 
  }

  @media screen and (max-device-width: 800px) {
    html { background: url('https://thenewcode.com/assets/images/polina.jpg') #000 no-repeat center center fixed; }
    #bgvid { display: none; }
  }
