/* CSS RESET  */
html {
    box-sizing: border-box;
    text-align: center;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

   
  li {
    list-style-type: none;
  }

/* MOBILE FIRST */
body {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

#root {
    text-align: center;
}